<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/nav') %>
    <form action = "/customer" method="POST">
        <fieldset>
            <legend class = "leg"> Create a User or Log In</legend>
            <label class = "lb">
                Fist Name: <input class = "type" type ="text" name ="firstName" placeholder="Enter First name"/>

                Last Name: <input class = "type" type ="text" name ="lastName" placeholder="Enter Last name"/>

                Email: <input class = "type" type ="text" name ="email" placeholder="Enter Email"/>

                Age: <input class = "type" type ="Number" name ="age" placeholder="Enter Age"/>>

                Password: <input class = "type" type ="text" name ="password" placeholder="Type your password"/>
            </label>
        </fieldset>
        <p class = "p">Click the button below to Log In!</p>
        <input class = "sub" type="submit" value=ðŸ”>
    </form>
</body>
</html>